.section {
  &.white {
    background-color: #fff;
  }

  &.light.grey {
    background-color: #f7f9fa;
  }

  &.bordered {
    border-bottom: 1px solid #dbe3e7;
  }

  > .ui.grid.container {
    margin-top: 0;
    margin-bottom: 0;
  }
}
