.section {
  &.white {
    background-color: #fff;
  }

  &.light.grey {
    background-color: #f7f9fa;
  }

  &.bordered {
    border-bottom: 1px solid #dbe3e7;
  }

  &.padded {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  > .ui.grid.container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ui.segment {
    display: block;
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translate(0, 0);
    transition: all 0.25s ease;

    &.click.effect {
      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transform: translate(0, -5px);
      }

      &:active {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: translate(0, 0);
      }
    }
  }
}

.footer {
  .legal.column {
    @include mobile {
      text-align: center !important;
    }
  }

  .open-source.column {
    @include mobile {
      text-align: center !important;
    }
  }
}
