<div class="terms component">
  <div class="terms section">
    <div class="ui grid container">
      <div class="sixteen wide column">
        <h1 class="title">Terms and Conditions</h1>
        <div class="ui segment">
          <ol>
            <li>Definitions:
              <ul>
                <li>"Committee" - The Churchill Spring Ball Committee</li>
                <li>"Purchaser" - The person ordering tickets</li>
                <li>"Ball" - The event taking place at Churchill College on the evening of Saturday 11th February 2017</li>
                <li>"Guest" - Any person attending the Ball that appears on the Committee's guestlist</li>
              </ul>
            </li>
            <li>The Purchaser shall ensure that all his/her Guests  are  over 18.</li>
            <li>The Committee's emailed or posted confirmation to the Purchaser of his/her application for tickets shall constitute an offer to sell the tickets requested, the acceptance of which is established by the clearing of cheques submitted or payment via Stripe to the value of the price as specified in the order within 14 days, time being of the essence.   Failing such payment the prospective booking shall lapse. By making such payment, the Purchaser agrees that the contract of sale shall be governed by these terms and conditions.  Subject to Clauses 4 and 7, the Committee agrees to supply the tickets specified in the confirmation email or letter to the Purchaser a reasonable time before the date of the Ball.</li>
            <li>The Committee reserves the right to refuse any application for Tickets.</li>
            <li>Tickets are non-refundable and non-transferable except where express written permission is granted by the Committee. The decision to make the transfer or refund will be made entirely at their discretion. The Committee reserves the right to levy an administration charge of &pound;10 per Ticket for completing a refund or transfer.</li>
            <li>The Tickets are only representative of each Purchaser's and each Guest's eligibility to attend the Ball and remain the property of the Committee.</li>
            <li>It is a condition of the contract of sale that tickets will only be issued to a Purchaser upon provision to the Committee of his full name, address and valid photographic identification (valid driving licence, passport or University ID) and the full name of any of his Guests. The Purchaser undertakes full responsibility and liability for the accuracy of this information and for the actions of his/her Guests at the Ball.</li>
            <li>In the event that the Ball is cancelled for any reason whatsoever, the Purchaser assumes the risk that a refund may not be available. Partial or full refunds will be given only where, in the opinion of the Committee, the cost of such refunds can be recovered by the Committee.</li>
            <li>No admission to the ball will be accepted after 10:30pm and guests will not be readmitted if they exit the Ball at any time for any reason. The Committee reserves the right to alter this arrangement with reasonable prior notice.</li>
            <li>The Committee reserves the right to make changes to the programme without prior notice.</li>
            <li>The Committee reserves the right to refuse any Guest admission to the Ball.</li>
            <li>Guests will comply with the instructions of the Committee and / or persons employed in administering and supervising the Ball. This is to ensure the safety of all persons present.</li>
            <li>The Committee reserves the right to require the search of any persons by a licensed security guard upon reasonable suspicion of possession of any illegal substances or weaponry.</li>
            <li>The Committee reserves the right to refuse entry to, or to eject from, the Ball any ticket-holder where the Committee and/or its duly authorised representatives have reasonable grounds to believe that the ticket-holder may not be a nominated Guest or may have committed or be about to commit a criminal offence, or has engaged in, or is engaging in any other activities the Committee deems unacceptable. This includes (but is not limited to) drunkenness, disorderliness, use or anticipated use of drugs or any form of excessive behaviour.</li>
            <li>Ticket-holders believed to be involved in an illegal activity may be reported to the Police.</li>
            <li>The Committee neither undertakes nor accepts any responsibility or liability whatsoever for any loss or damage to the personal property or other property of any person attending the Ball, whether caused by the default or want of care on the part of the Committee or its workers, sub-contractors or any independent contractor, or otherwise. Attendees are strongly advised to take care of all personal items and to make their own arrangements to insure all items of value.</li>
            <li>Under no circumstances shall the Committee be responsible for any injurious act or default committed by themselves, their workers, sub-contractors or any independent contractor causing death or personal injury unless directly caused by gross negligence  on the part of the Committee.</li>
            <li>Unauthorised access or use of this website is prohibited and constitutes an offence under the Computer Misuse Act 1990.</li>
            <li>Any attempt to obtain Tickets by deception or fraud may result in prosecution.</li>
            <li>All decisions of the Committee are final.</li>
            <li>Any person who is not a party to the contract of sale shall have no right under the Contract (Right of Third Parties) Act 1999 to enforce or enjoy the benefit of any its terms.</li>
            <li>English law shall govern the contract of sale.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
