<div class="home component">
  <div class="bordered header section">
    <div class="ui grid container">
      <div class="sixteen wide center aligned column">
        <img class="header image" src="/assets/img/logo.png">

        <!--<h1>Churchill Spring Ball</h1>-->
        <!--<p>text to test the font weight</p>-->
        <!--<a class="ui primary button" [routerLink]="['/tickets']">Buy Tickets</a>-->
      </div>
    </div>
  </div>

  <div class="bordered light grey sponsors section">
    <div class="ui container">
      <img src="/assets/img/sponsors/cranes.png">
      <img src="/assets/img/sponsors/joe-and-sephs.png">
      <img src="/assets/img/sponsors/churchill-casino.svg">
      <img src="/assets/img/sponsors/saffronbrewery.png">
      <img src="/assets/img/sponsors/tunnocks.png">
      <!--<img src="/assets/img/sponsors/vita-coco.png">-->
    </div>
  </div>

  <div class="bordered white images promo section">
    <div class="ui grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">The Night of Your Life</h1>
        <h2 class="subtitle">Join us on Saturday 11th February 2017 for a night of ridiculously good fun. Food, drink, and music from 9pm until 3am.</h2>
      </div>
    </div>

    <div #promoCarousel class="image carousel">
      <div class="image"><img src="/assets/img/home/basshunter.jpg"></div>
      <div class="image"><img src="/assets/img/home/nick.jpg"></div>
      <div class="image"><img src="/assets/img/home/ohdear.jpg"></div>
      <div class="image"><img src="/assets/img/home/morell.jpg"></div>
      <div class="image"><img src="/assets/img/home/couple.jpg"></div>
      <div class="image"><img src="/assets/img/home/basshunter2.jpg"></div>
      <div class="image"><img src="/assets/img/home/scotsmen.jpg"></div>
      <div class="image"><img src="/assets/img/home/people.jpg"></div>

      <div class="arrow left"><img src="/assets/img/carousel/arrow-left.png"></div>
      <div class="arrow right"><img src="/assets/img/carousel/arrow-right.png"></div>
    </div>
  </div>

  <!-- <div class="bordered committee section">
    <div class="ui grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">Committee</h1>
        <h2 class="subtitle">Some text about the sick committee</h2>
        <p>TODO: committee section slider or something here</p>
      </div>
    </div>
  </div> -->

  <div class="bordered purchase tickets section">
    <div class="ui very relaxed centered grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">Buy Your Tickets</h1>
        <h2 class="subtitle no-margin">Order before December 4th to save £10!</h2>
      </div>

      <div class="sixteen wide mobile eight wide tablet six wide computer column" *ngFor="let type of ticketTypes">
        <div class="ui center aligned click effect ticket segment">
          <h3 class="ticket-title">{{ type.name }}</h3>
          <p class="ticket-description">{{ type.description }}</p>
          <p>
            <span class="price">
              <span class="currency symbol">£</span>
              <span class="pounds">{{ type.price | number:0 }}</span>
              <span class="pennies">.{{ type.price | pennies }}</span>
            </span>
          </p>
          <p><a class="ui primary right labeled icon button" [routerLink]="['/tickets']">Buy Now <i class="ticket icon"></i></a></p>
        </div>
      </div>

    </div>
  </div>
</div>
