<div class="home component">
  <div class="bordered header section">
    <div class="ui grid container">
      <div class="sixteen wide center aligned column">
        <img class="header image" src="/assets/img/logo.png">

        <!--<h1>Churchill Spring Ball</h1>-->
        <!--<p>text to test the font weight</p>-->
        <!--<a class="ui primary button" [routerLink]="['/tickets']">Buy Tickets</a>-->
      </div>
    </div>
  </div>
  <div class="bordered light grey sponsors section">
    <div class="ui container">

    </div>
  </div>
</div>
