<div class="home component">
  <div class="bordered header section">
    <div class="ui grid container">
      <div class="sixteen wide center aligned column">
        <img class="header image" src="/assets/img/logo.png">
      </div>
    </div>
  </div>

  <div class="bordered light grey sponsors section">
    <div class="ui container">
      <img src="/assets/img/sponsors/cranes.png">
      <img src="/assets/img/sponsors/joe-and-sephs.png">
      <img src="/assets/img/sponsors/churchill-casino.svg">
      <img src="/assets/img/sponsors/saffronbrewery.png">
      <img src="/assets/img/sponsors/tunnocks.png">
    </div>
  </div>

  <div class="bordered white video section">
    <div class="ui grid container">
      <div class="sixteen wide mobile eight wide tablet eight wide computer middle aligned column">
        <h1 class="title">Mirage</h1>
        <h2 class="subtitle" style="font-family: arial, sans-serif;">noun, /ˈmɪrɑːʒ,mɪˈrɑːʒ/</h2>
        <p class="ol">
          1.&nbsp; An optical illusion<br>
          2.&nbsp; An unrealistic hope or wish
        </p>
        <p class="date">Saturday 11th February, 8pm-3am</p>
      </div>
      <div class="sixteen wide mobile eight wide tablet eight wide computer middle aligned column">
        <div class="youtube video">
          <iframe src="https://www.youtube.com/embed/_xJM9jX5aDs" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="bordered light grey details section">
    <div class="ui centered relaxed grid container">
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <h3>Ents</h3>
        <p>We are now taking applications for auditions, so if you're a musician, comedian, magician or other entertainer please <a [routerLink]="['/ents']">apply</a> before 21st November!</p>
      </div>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <h3>Work</h3>
        <p>Applications to work at Churchill Spring Ball are now open. The application deadline is the 27th November, so <a [routerLink]="['/work']">apply now</a>!</p>
      </div>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <h3>Headliner</h3>
        <p>We will be announcing our headliner at the end of Michaelmas! Stay tuned for the exciting reveal!</p>
      </div>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <h3>Social Media</h3>
        <p>Be sure to like our Facebook Page and follow our Instagram @springball2017 to stay up to date with all important announcements.</p>
      </div>
    </div>
  </div>

  <div class="bordered white images promo section">
    <div class="ui grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">A Night of Spectacle and Wonder</h1>
        <h2 class="subtitle">Come to Churchill Spring Ball and enter a world where nothing is as it seems.<br>Join us for a night of awesome entertainment and unlimited food and drinks from 8pm-3am.</h2>
      </div>
    </div>

    <div #promoCarousel class="image carousel">
      <div class="image"><img src="/assets/img/home/basshunter.jpg"></div>
      <div class="image"><img src="/assets/img/home/nick.jpg"></div>
      <div class="image"><img src="/assets/img/home/ohdear.jpg"></div>
      <div class="image"><img src="/assets/img/home/morell.jpg"></div>
      <div class="image"><img src="/assets/img/home/couple.jpg"></div>
      <div class="image"><img src="/assets/img/home/basshunter2.jpg"></div>
      <div class="image"><img src="/assets/img/home/scotsmen.jpg"></div>
      <div class="image"><img src="/assets/img/home/people.jpg"></div>

      <div class="arrow left"><img src="/assets/img/carousel/arrow-left.png"></div>
      <div class="arrow right"><img src="/assets/img/carousel/arrow-right.png"></div>
    </div>
  </div>

  <!-- <div class="bordered committee section">
    <div class="ui grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">Committee</h1>
        <h2 class="subtitle">Some text about the sick committee</h2>
        <p>TODO: committee section slider or something here</p>
      </div>
    </div>
  </div> -->

  <div class="bordered purchase tickets section">
    <div class="ui very relaxed centered grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">Buy Your Tickets</h1>
        <h2 class="subtitle no-margin">Order before December 2nd to save £10</h2>
      </div>

      <div class="sixteen wide mobile eight wide tablet six wide computer column" *ngFor="let type of ticketTypes">
        <div class="ui center aligned click effect ticket segment">
          <h3 class="ticket-title">{{ type.name }}</h3>
          <p class="ticket-description">{{ type.description }}</p>
          <p>
            <span class="price">
              <span class="currency symbol">£</span>
              <span class="pounds">{{ type.price | number:0 }}</span>
              <span class="pennies">.{{ type.price | pennies }}</span>
            </span>
          </p>
          <p><a class="ui primary right labeled icon button" [routerLink]="['/tickets']">Buy Now <i class="ticket icon"></i></a></p>
        </div>
      </div>

    </div>
  </div>
</div>
