<div class="ents component">
  <div class="bordered header section">
    <div class="ui center aligned grid container">
      <div class="sixteen wide center aligned grid">
        <h1 class="title">Ents Auditions</h1>
        <h2 class="subtitle">Musicians, magicians, comedians, and more...</h2>
      </div>
    </div>
  </div>
  <div class="white padded bordered section">
    <div class="ui very relaxed grid container">
      <div class="sixteen wide mobile eight wide tablet eight wide computer middle aligned column">
        <h3>Applications</h3>
        <p>We will be holding the auditions on Friday 25th and Saturday 26th November (5pm-9pm) in the Recital Room of Churchill College Music Centre. We are looking for all types of acts (music of all different genres, magicians, comedy acts etc.) so please try out - you could be exactly what we’re looking for.</p>

        <p>Audition slots are 15 minutes, so please let us know all possible times you will be available, and we will get back to you ASAP with an allocated audition time. We will be providing a drum kit and electrical equipment. Payments will be discussed at the auditions.</p>

        <p>Applications are now closed! If you need more information about auditions or performing on the night please contact <a href="mailto:ents@springball.com">ents@springball.com</a>.</p>

        <p>
          <!-- TODO: set apply now link -->
          <a class="ui primary right labeled icon button disabled" target="_blank">Applications Closed <i class="send icon"></i></a>
          <a class="ui right labeled icon button" target="_blank" href="https://www.google.co.uk/maps/place/Music+Centre/@52.2130833,0.0983621,17z/data=!4m12!1m6!3m5!1s0x47d870ca698bba53:0x88881a762682781e!2sUniversity+of+Cambridge,+Churchill+College!8m2!3d52.2130833!4d0.1005508!3m4!1s0x0:0x7265f7d44bbae1c6!8m2!3d52.2140029!4d0.1011139">View Map <i class="map icon"></i></a>
        </p>
      </div>
      <div class="sixteen wide mobile eight wide tablet eight wide computer middle aligned column">
        <table class="ui definition table">
          <tbody>
          <tr><td>Application Deadline</td><td>Monday 21st November (Closed)</td></tr>
          <tr><td>Audition Slot Size</td><td>15 minutes</td></tr>
          <tr><td>Audition Days</td><td>Friday 25th November, and Saturday 26th November</td></tr>
          <tr><td>Audition Location</td><td>Recital Room, Churchill College Music Centre, CB3 0DS</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="map bordered section">
    <!-- TODO: google maps -->
    <sebm-google-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [styles]="mapStyles" [zoom]="17">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>
