<div class="work component">
  <div class="header bordered section">
    <div class="ui center aligned grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">Apply to Work</h1>
        <h2 class="subtitle">Applications Are Now Closed</h2>
      </div>
    </div>
  </div>
  <div class="padded bordered white section">
    <div class="ui very relaxed grid container">
      <div class="sixteen wide mobile eight wide tablet eight wide computer column">
        <h3>General Worker</h3>
        <p>General workers, on the day of the ball, will be assigned to one of these three departments.</p>
        <ul>
          <li>Ents</li>
          <li>Food and Drinks</li>
          <li>Health and Safety</li>
        </ul>
        <p>Health and safety workers will need to be trained. Applications now open!</p>
        <p><a class="ui primary right labeled icon disabled button" target="_blank">Apply Now <i class="send icon"></i></a></p>
      </div>
      <div class="sixteen wide mobile eight wide tablet eight wide computer middle aligned column">
        <table class="ui definition table">
          <tbody>
          <tr><td>Start</td><td>7:30pm, 11th February 2017</td></tr>
          <tr><td>Finish</td><td>3:30am, 12th February 2017</td></tr>
          <tr><td>Breaks</td><td>A single 1 hour break; or two 30 minute breaks.</td></tr>
          <tr><td>Pay</td><td>£40.00 for under 21s; £48.65 for over 21s</td></tr>
          <tr><td>Application Deadline</td><td>27th November 2016 (Closed)</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="padded bordered section">
    <div class="ui very relaxed grid container reverse-on-mobile">
      <div class="sixteen wide mobile eight wide tablet eight wide computer middle aligned column">
        <table class="ui definition table">
          <tbody>
          <tr><td>Start</td><td>7:30pm, 11th February 2017</td></tr>
          <tr><td>Finish</td><td>3:30am, 12th February 2017</td></tr>
          <tr><td>Breaks</td><td>A single 1 hour break; or two 30 minute breaks.</td></tr>
          <tr><td>Pay</td><td>£55.00</td></tr>
          <tr><td>Application Deadline</td><td>27th November 2016 (Closed)</td></tr>
          </tbody>
        </table>
      </div>
      <div class="sixteen wide mobile eight wide tablet eight wide computer column">
        <h3>Area Manager</h3>
        <!-- TODO: paragraph on area managers -->
        <p>Area supervisors will be responsible for all the general workers in a certain area of the ball. Supervisors have a significant amount of responsibility and thus have a higher amount of pay. Some key jobs include: ensuring workers are doing their assigned jobs and that they take their breaks at the right time, making sure that workers are not consuming alcohol and reporting to the personnel or member of the committee if there any issues. Applications now open!</p>
        <p><a class="ui primary right labeled icon disabled button" target="_blank">Apply Now <i class="send icon"></i></a></p>
      </div>
    </div>
  </div>
</div>
