<div class="ui grid">
  <div class="sixteen wide mobile ten wide tablet ten wide computer column">
    <div class="ui segment" *ngFor="let type of typesOfTickets">
      <!--{{ type | json }}-->
      <h2>{{ type.name }}</h2>
      <span>Price: £{{ type.price }}</span>
      <div class="ui input">
        <input type="number" [(ngModel)]="type.purchaseQuantity" [disabled]="type.sold >= type.quantity">
      </div>
    </div>
  </div>
  <div class="sixteen wide mobile six wide tablet six wide computer column">
    <div class="ui segment">
      <h2>Payment Method</h2>
      <div class="ui form">
        <div class="fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="payment-method" [(ngModel)]="paymentMethod" value="stripe" checked="checked">
              <label>Stripe</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="payment-method" [(ngModel)]="paymentMethod" value="college-account" [disabled]="!isChurchill">
              <label>College Account</label>
            </div>
          </div>
        </div>
      </div>
      <p>Please note that payment via college accounts are only available to Churchill members</p>

      <button class="ui primary button" [disabled]="!checkTicketsAvailable()">Purchase</button>
    </div>
  </div>
</div>
