<div class="purchase tickets component">
  <div class="purchase section">
    <div class="ui grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">Purchase Tickets</h1>
      </div>
    </div>
    <div class="ui centered grid container">
      <div class="sixteen wide mobile sixteen wide tablet ten wide computer column">
        <div class="ui grid">

          <!-- TODO: add design for sold-out ticket types -->
          <div class="sixteen wide mobile eight wide tablet eight wide computer column" *ngFor="let type of typesOfTickets">
            <div class="ui center aligned ticket segment">
              <h3 class="ticket-title">{{ type.name }}</h3>
              <p class="ticket-description">{{ type.description }}</p>
              <p>
                <span class="price">
                  <span class="currency symbol">£</span>
                  <span class="pounds">{{ type.price | number:0 }}</span>
                  <span class="pennies">.{{ type.price | pennies }}</span>
                </span>
              </p>
              <div class="ui input">
                <input type="number" [(ngModel)]="type.purchaseQuantity" [disabled]="type.sold >= type.quantity">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="sixteen wide mobile eight wide tablet six wide computer column">
        <div class="ui ticket segment">
          <h3>Summary</h3>
          <div class="ui form">
            <div class="grouped fields">
              <label>Payment Method</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="payment-method" [(ngModel)]="paymentMethod" value="stripe"
                           checked="checked">
                    <label>Stripe ({{ calculateStripeFee() | currency:'GBP':true:'1.2-2' }} fee)</label>
                  </div>
                </div>

                <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="payment-method" [(ngModel)]="paymentMethod" value="college-account"
                         [disabled]="true || !isChurchill"><!-- Disabled via the true || -->
                  <label>College Account (No fee)</label>
                </div>
              </div>
                <label>Charitable Donation</label>
                <div class="field">
                    <div class="ui charity">
                        <span>£</span>
                        <input class="charityInput"
                               type="number"
                               [(ngModel)]="charitableDonation"
                               min="0.00"
                               step="0.01"
                               placeholder="0.00"
                        >
                    </div>
                </div>
            </div>


          </div>
          <p>Please note that payment via college account is only available to Churchill members before December 2nd.</p>

          <p><strong>Total:</strong> {{ calculateOrderTotal() + (paymentMethod === 'stripe' ? calculateStripeFee() : 0)
            | currency:'GBP':true:'1.2-2' }}</p>

          <button class="ui primary fluid button" [ngClass]="{loading: sendingPurchaseRequest}" [disabled]="!checkTicketsAvailable() || sendingPurchaseRequest || charitableDonation < 0" (click)="makePayment()">Purchase
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
