<div class="faq component">
  <div class="faq section">
    <div class="ui relaxed grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">FAQ</h1>
        <h2 class="subtitle no-margin">Answers to the most common ticketing questions</h2>
      </div>

      <div class="sixteen wide mobile eight wide tablet eight wide computer column">
        <div class="ui question segment">
          <h3>How do I pay by debit/credit card?</h3>
          <p>Simply follow the instructions on this site. Debit/Credit Card payments will be taken through Stripe. There will be a small admin charge for using this payment option.</p>
        </div>

        <div class="ui question segment">
          <h3>How do I pay with my college bill?</h3>
          <p>If you are a member of Churchill College then you can pay on your college bill simply by filling out a Spring Ball form from the porters lodge and putting it in the Spring Ball pigeon hole there. Alternatively you can buy the tickets on this website. Both options are only available until 2nd December 2016.</p>
        </div>

        <div class="ui question segment">
          <h3>Do you do refunds?</h3>
          <p>No refunds can be given for Churchill Spring Ball tickets. See below for selling your ticket.</p>
        </div>
      </div>

      <div class="sixteen wide mobile eight wide tablet eight wide computer column">
        <div class="ui question segment">
          <h3>What happens if I lose my ticket?</h3>
          <p>We can print out another ticket for you, at the cost of a £10 admin charge. If you lose your ticket very close to the ball then you can pick it up on the night.</p>
        </div>

        <div class="ui question segment">
          <h3>Will tickets be sold on the night?</h3>
          <p>If there are spare tickets available, they will be sold on the doors, but at a significantly increased price. It is much safer and cheaper to buy beforehand.</p>
        </div>

        <div class="ui question segment">
          <h3>What date do you stop selling tickets?</h3>
          <p>23:59 February 10th 2017, if you don't get tickets before this time, you still may be able to purchase them on the door. We only have a fixed amount of tickets and might sell out earlier.</p>
        </div>

        <div class="ui question segment">
          <h3>Can I sell my tickets?</h3>
          <p>You can sell your ticket on, but you must notify me via email who you are selling it to. Switching names requires a large amount of work, so a £10 admin charge will be billed starting on the 1st January 2017. The deadline for name changes is the 1st February 2017.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bordered purchase tickets section">
    <div class="ui very relaxed centered grid container">
      <div class="sixteen wide center aligned column">
        <h1 class="title">Buy Your Tickets</h1>
        <h2 class="subtitle no-margin">Order before December 2nd to save £10</h2>
      </div>

      <div class="sixteen wide mobile eight wide tablet six wide computer column" *ngFor="let type of ticketTypes">
        <div class="ui center aligned click effect ticket segment">
          <h3 class="ticket-title">{{ type.name }}</h3>
          <p class="ticket-description">{{ type.description }}</p>
          <p>
            <span class="price">
              <span class="currency symbol">£</span>
              <span class="pounds">{{ type.price | number:0 }}</span>
              <span class="pennies">.{{ type.price | pennies }}</span>
            </span>
          </p>
          <p><a class="ui primary right labeled icon button" [routerLink]="['/tickets']">Buy Now <i class="ticket icon"></i></a></p>
        </div>
      </div>

    </div>
  </div>
</div>
