<div #navbar id="navigation-bar">
  <div class="ui container">
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="/assets/icon/favicon.png">
        <span class="text">Churchill Spring Ball</span>
      </a>
    </div>
    <nav id="primary-menu" class="desktop links menu">
      <ul>
        <span class="item"><a [routerLink]=" ['/'] ">Home</a></span>
        <span class="item" *ngIf="!users.isAuthenticated()"><a href="/auth/raven">Login</a></span>
        <!-- TODO: have an Account dropdown and show the user's name here? -->
        <span class="item" *ngIf="users.isAuthenticated()"><a [routerLink]="['/logout']">Logout</a></span>
    <span class="item"><a class="ui primary right labeled icon button" [routerLink]=" ['/tickets'] ">Tickets <i
      class="ticket icon"></i></a></span>
      </ul>
    </nav>
    <nav class="mobile toggle menu">
      <ul>
        <li><a><span>Menu Toggle</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="ui mobile container">
    <nav id="primary-menu" class="mobile vertical links">
      <ul>
        <span class="item"><a [routerLink]=" ['/'] ">Home</a></span>
        <span class="item" *ngIf="!users.isAuthenticated()"><a href="/auth/raven">Login</a></span>
        <!-- TODO: have an Account dropdown and show the user's name here? -->
        <span class="item" *ngIf="users.isAuthenticated()"><a [routerLink]="['/logout']">Logout</a></span>
    <span class="item"><a class="ui primary right labeled icon button" [routerLink]=" ['/tickets'] ">Tickets <i
      class="ticket icon"></i></a></span>
      </ul>
    </nav>
  </div>
</div>

<div class="top mobile slice"></div>
<div class="bottom mobile slice"></div>

<main class="page main">
  <router-outlet></router-outlet>
</main>

<footer id="footer" class="ui padded light grey footer section">
  <div class="ui stackable relaxed page grid">
    <div class="three column row">
      <div class="right aligned legal column">
        <h5 class="ui header">The Fun Stuff</h5>

        <div class="ui link list">
          <a class="terms item">Terms and Conditions</a>
          <a class="cookies item">Cookies Policy</a>
          <a class="privacy item">Privacy Policy</a>
        </div>
      </div>
      <div class="center aligned contact column">
        <img src="/assets/icon/favicon.png" width="100" class="logo">
      </div>
      <div class="left aligned open-source column">
        <h5 class="ui header">Quick links</h5>

        <div class="ui link list">
          <a class="item" [routerLink]="['/']">Home</a>
          <a class="item" [routerLink]="['/tickets']">Tickets</a>
          <a class="item" href="/auth/raven">Log In</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="sixteen wide center aligned column">
        <p class="copyright">Copyright 2016 &copy; Churchill Spring Ball.</p>
        <p class="copyright">Website built by <a href="http://www.github.com/hoxxep">Liam Gray</a>, with assistance from
          <a href="http://www.glendelmdesign.co.uk">Matt Lewsley</a>.</p>
      </div>
    </div>
  </div>
</footer>
