//.page.main {
//  padding-top: 60px;
//}

.page.nav.container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    color: #2b3138;

    img {
      height: 50px;
      margin-right: 0.5rem;
    }

    .text {
      font-size: 1.2rem;
    }
  }

  .links {
    .item {
      display: inline-block;
      margin: 0 20px;

      a:not(.button) {
        color: #8091A5;
        transition: color 0.25s ease;

        &:hover {
          color: #414b56;
        }
      }
    }
  }
}

.page.main {
  padding-top: 93px;
}

.padded.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .logo {
    display: block;
    margin: 0 auto;
  }

  .copyright {
    margin-bottom: 0;

    &, & a {
      color: #8091A5;
    }

    a {
      border-bottom: 1px dotted;

      &:hover {
        color: #2b3138
      }
    }
  }
}
