<div class="tickets list component">
  <div class="header section">
    <div class="ui grid container">
      <div class="four wide computer only column"></div>
      <div class="sixteen wide mobile sixteen wide tablet eight wide computer center aligned column">
        <h1>Your Tickets</h1>
      </div>
      <div class="sixteen wide mobile only center aligned column" *ngIf="nameChange">
        <div class="ui labeled button" tabindex="0" (click)="saveNameChange()">
          <div class="ui primary button">
            Save Name Change{{editCount>1 ? 's' : ''}}
          </div>
          <div class="ui basic label">
            {{editCount}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tickets section">
    <div class="ui grid container">
      <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
        <div class="ui grid">

          <div class="sixteen wide mobile sixteen wide tablet eight wide computer center aligned column"
               *ngFor="let ticket of tickets"
          >
            <div class="ui click effect dimmable ticket segment"
                 (mouseenter)="mouseHover(ticket)"
                 (mouseleave)="mouseLeave(ticket)"
            >
              <h2>{{ ticket.name || 'Ticketholder Name' }}</h2>
              <p>
                {{ ticket.email || 'Ticketholder Email' }}<br>
                <strong>{{ ticket.type.name }}</strong>
              </p>
              <p>Purchased On<br>
                {{ ticket.order.created | date:'short' }}<br>
                {{ ticket.price | currency:'GBP':true:'1.2-2' }} via
                {{ ticket.order.paymentMethod === 'stripe' ? 'Stripe' : 'College Account' }}</p>

              <div class="ui dimmer"
                   [ngClass]="{active: ticket.dimmed || !ticket.name || !ticket.email}"
              >
                <p *ngIf="!ticket.editing && (!ticket.name || !ticket.email)">Please set the name of this ticket!</p>

                <h2 *ngIf="ticket.editing" class="ui input">
                  <input [(ngModel)]="ticket.newName" [value]="ticket.newName" placeholder="Ticketholder Name" type="text">
                </h2>

                <p *ngIf="ticket.editing" class="ui input">
                  <input [(ngModel)]="ticket.newEmail" [value]="ticket.newEmail" placeholder="Ticketholder Email" type="email">
                </p>

                <p>
                  <a (click)="toggleTicket(ticket)" class="ui right labeled icon button" [ngClass]="{primary: !ticket.editing}">
                    {{ ticket.editing ? 'Cancel' : 'Name Change' }}
                    <i class="icon" [ngClass]="{edit: !ticket.editing, trash: ticket.editing}"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="sixteen wide center aligned no tickets column" *ngIf="!tickets.length">
            <div class="ui grid">
              <div class="sixteen wide mobile sixteen wide tablet eight wide computer center aligned column">
                <div class="ui click effect ticket segment">
                  <h2 class="subtitle">You haven't purchased any tickets yet!</h2>
                  <p><a class="ui primary button" [routerLink]="['/tickets/purchase']">Buy Now</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <div class="ui controls segment">
          <div class="ticket types">
            <span class="type" *ngFor="let type of types">
              <strong>{{type.name}} Tickets:</strong> {{type.count}}
            </span>
          </div>
          <p>TODO: Name change date deadline and price raise paragraph.</p>

          <div class="ui labeled button" tabindex="0" *ngIf="nameChange" [ngClass]="{disabled: !nameChangeValid() || sendingNameChangeRequest, loading: sendingNameChangeRequest}" (click)="saveNameChange()">
            <div class="ui primary button">
              Save Name Change{{editCount>1 ? 's' : ''}}
            </div>
            <div class="ui basic label">
              {{editCount}}
            </div>
          </div>

          <p *ngIf="!nameChange"><a class="ui primary button" [routerLink]="['/tickets/purchase']">Buy More Tickets</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
