<h1>Tickets</h1>
<p>TODO: design this page nicely</p>

<div class="ui segment" *ngFor="let ticket of tickets">
  <!--{{ ticket | json }}-->
  <h2>{{ ticket.name || 'Ticketholder Name' }}</h2>
  <p>Email: {{ ticket.email || 'Ticketholder Email' }}</p>
  <p>Type: {{ ticket.type.name }}</p>
  <p>Purchased: {{ ticket.order.created }}</p>
  <p>Payment Method: {{ ticket.order.paymentMethod }}</p>
  <p>Price: {{ ticket.price | currency:'GBP':true:'1.2-2' }}</p>
</div>

<a class="ui primary button" [routerLink]="['/tickets', 'purchase']">Buy Tickets</a>
